$linear-gradiant: linear-gradient(120deg, #b64cf8 0%, #3365fa);

.Sign-Up-page {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 144rem;
    width: 100%;
  
    .left-container {
      display: flex;
    }
  
    .right-container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      min-width: 35rem;
      max-width: 84rem;
      flex-direction: column;
      align-items: center;
  
      .button-sign {
        max-width: 24rem;
      }
  
      .sign-up-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 4rem;
        margin-right: 4rem;
        width: 100%;
  
        .header_message {
          color: black;
          font-size: 1.2rem;
          padding-right: 1.7rem;
        }
  
        .sign-in-button {
          width: 12rem;
        }
      }
      
      .right-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
  
        .Sign-up-text {
          font-size: 4rem;
          font-weight: bold;
          margin-bottom: 4.4rem;
        }
     
        .input-container{
          display:flex;
          justify-content:space-between;
          align-items: center;
          width: 85%;
          max-width: 34rem;
          min-width: 24rem;
          height: 6rem;
          border-bottom: solid 0.1rem #C6BDE2;
            
          .avatar {
            height: 2rem;
            width: 2rem;
          }
    
          .input-email {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            font-size: 1.6rem;
            margin-left: 2.2rem;
            border:none;
            background-color: white;
            outline: none;
          }
        }
      }
  
  
      .password_container{
        display:flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        max-width: 34rem;
        min-width: 24rem;
        height: 6rem;
        border-bottom: solid 0.1rem #C6BDE2;
  
        .password {
          height: 2.1rem;
          width: 1.6rem;
        }
  
        .myPasswords{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          border:none;
          font-size: 1.6rem;
          outline: none;
          margin-left: 2.6rem;
        }
      }
      
      .sign-up-lower-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .button-continue {
          width: 28rem;
          margin-bottom: 6rem;
        }
  
        .sign-up-progress {
          height: 0.8rem;
          margin-bottom: 6rem;
          display: flex;
          justify-content: space-between;
          width: 5.6rem;
  
          .progress-cirle-full {
            height: 0.8rem;
            width: 0.8rem;
            background-color: black;
            border-radius: 50%;
          }
  
          .progress-cirle-empty {
            height: 0.8rem;
            width: 0.8rem;
            border: 2px solid #C6BDE2;
            border-radius: 50%;
          }
        }
      }

  
      .myButtons_container{
          display:flex;
          justify-content: center;
          align-items: flex-end;
          height: 30%;
      }
  
      .myButtons{
          display: flex;
          flex-direction: column;
          height: 6%;
          width: 30%;
          align-items: center;
          justify-content: center;
          background: $linear-gradiant;
          border-radius: 20px;
          padding-left:20px;
          padding-right:20px;
          padding-top:20px;
          padding-bottom:20px;
          color:white;
          line-height: 14px;
          font-size: 12px;
          text-transform: uppercase;
          font-family: 'Roboto';
          letter-spacing: 1px;
          opacity: 80%;
          border: none;
          cursor:pointer;
      }
  
  
      .congratsOk{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height:50%;
  
      }
      
      
      .congrats{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 35%;
      }
      
      .message{
        display:flex;
        height:30%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .ok{
        display:flex;
        height: 20%;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
  
      }
      
    
    }
  
    @media screen and (max-width: 750px){
      .left-container {
        display: none;
      }
    }
    
  }