$linear-gradiant: linear-gradient(120deg, #b64cf8 0%, #3365fa);

.Button_violet {
  width: 100%;
  border-radius: 30px;
  border: 1px lightgray solid;
  color: white;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #C468FF 3.32%, #6E91F6 100%);
  font-size: 1.2rem;
  height: 6rem;

  &:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #b236ff 3.32%, #295fff 100%);
  }
}