

.Button_long {
  // padding: 16px 33px 12px 33px;
  height: 4rem;
  width: 100%;
  border-radius: 3rem;
  padding: 0 2rem;
  letter-spacing: 0.83333px;
  border: 1px lightgray solid;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    background-color: #F2F2F2;
  }
}


