$linear-gradiant: linear-gradient(120deg, #b64cf8 0%, #3365fa);

.Login-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 144rem;
  width: 100%;

  .left-container {
    display: flex;
  }

  .right-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-width: 35rem;
    max-width: 84rem;
    flex-direction: column;
    align-items: center;

    .button-sign {
      max-width: 24rem;
    }

    .sign-up-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 4rem;
      margin-right: 4rem;
      width: 100%;

      .header_message {
        color: black;
        font-size: 1.2rem;
        padding-right: 1.7rem;
      }

      .sign-in-button {
        width: 12rem;
      }
    }
    
    .right-middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .Sign-in-text {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 4.4rem;
      }
   
      .input-container{
        display:flex;
        justify-content:space-between;
        align-items: center;
        width: 90%;
        max-width: 34rem;
        height: 6rem;
        border-bottom: solid 0.1rem #C6BDE2;
          
        .avatar {
          height: 2rem;
          width: 2rem;
        }
  
        .input-email {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 1.6rem;
          margin-left: 2.2rem;
          border:none;
          background-color: white;
          outline: none;
        }

        .password-logo {
          height: 2.1rem;
          width: 1.6rem;
        }
  
        .password-input{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          border:none;
          font-size: 1.6rem;
          outline: none;
          margin-left: 2.6rem;
        }
      }
    }

    .button-sign-in {
      width: 28rem;
      margin-bottom: 12.8rem;
    }
  }

  @media screen and (max-width: 750px){
    .left-container {
      display: none;
    }

    .right-container {
      .right-middle {
        .input-container {
          max-width: 28rem;
        }
      }
    }
  }
  
}




