.post-with-borders {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.post {
  background: #FFFFFF;
  border-radius: 4px;
  width: inherit;
  margin-top: 25px;
  margin-bottom: 25px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      width: 90%;

      .userPhoto {
        width: 40px;
        height: 40px;
      }

      .signature {
        padding-left: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .author {
          font-size: 14px;
        }

        .time {
          color: rgb(124, 124, 125);
          font-size: 14px;
        }
      }
    }

    .right {
      display: flex;
      justify-content: end;
      width: fit-content;

      .img {}

      .img-hidden {
        display: none;
      }
    }

    .text {
      margin-top: 30px;
      font-size: 16px;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    // margin-bottom: 30px;

    .img {
      width: 100%;
      max-width: 240px;
      min-width: 200px;
      border-radius: 4px;
    }
  }

  .row-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 14px;

    .left {
      display: flex;

      .action {
        padding-left: 18px;
        padding-right: 41px;
        font-size: 14px;
      }

    }

    .right {
      display: flex;
      justify-content: flex-end;

      .likes {
        color: rgb(124, 124, 125);
        font-size: 14px;
      }
    }
  }

  .row-actions-hidden {
    display: none;
    // visibility: collapse;
  }
}

// .commentPosted-noBorders {
//   @extend %commentPosted;

//   box-shadow: none;
// }