$linear-gradiant: linear-gradient(120deg, #b64cf8 0%, #3365fa);

.Congratulations-page {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 144rem;
    width: 100%;
  
    .left-container {
      display: flex;
    }
  
    .right-container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      min-width: 35rem;
      max-width: 84rem;
      flex-direction: column;
      align-items: center;
  
      .right-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
  
        .Sign-up-text {
          font-size: 4rem;
          font-weight: bold;
        }
        
        .message {
            font-size: 1.6rem;
            color: #C6BDE2;
        }
      }
      
      .sign-up-lower-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .button-continue {
          width: 28rem;
          margin-bottom: 6rem;
        }
  
        .sign-up-progress {
          height: 0.8rem;
          margin-bottom: 6rem;
          display: flex;
          justify-content: space-between;
          width: 5.6rem;
  
          .progress-cirle-full {
            height: 0.8rem;
            width: 0.8rem;
            background-color: black;
            border-radius: 50%;
          }
  
          .progress-cirle-empty {
            height: 0.8rem;
            width: 0.8rem;
            border: 2px solid #C6BDE2;
            border-radius: 50%;
          }
        }
      }
    }
  
    @media screen and (max-width: 750px){
      .left-container {
        display: none;
      }

      .right-container {
        .right-middle {
          .message {
            font-size: 1.4rem;
            color: #C6BDE2;
        }
        }
      }
    }
  }