.left-container {
    // background
    background-image: url("../../assets/images/background_image.png"),linear-gradient(120deg, #b64cf8 0%, #3365fa);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    // layout
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    // dimensions
    height: 100%;
    width: 100%;
    min-width: 40rem;
    max-width: 60rem;
    
    .motion_logo {
      height: 8rem;
      width: 8rem;
      margin-bottom: 1.5rem;
    }

    .header-motion {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
      }

    .text-motion {
      font-size: 15px;
      font-weight: 500;
      color: #C6BDE2;
      text-align: center;
      margin-bottom: 4.0rem;
    }

    .buttons-apple-google {
      display: flex;
      justify-content: space-between;
      width: 26.8rem;
      height: 4rem;
      margin-bottom: 12.6rem;

      .apple-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 12.6rem;
        background-color: transparent;
        border-radius: 2rem;
        border: 2px solid #C6BDE2;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }

      .google-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        width: 12.6rem;
        background-color: transparent;
        border-radius: 2rem;
        border: 2px solid #C6BDE2;
        padding-top: 0.4rem;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    .icons-twitter-facebook-instagram {
      height: 4.5rem;
      width: 15.2rem;
      margin-bottom: 4.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon-tfi {
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        opacity: 0.6;

        &:hover {
          opacity: 1.0;
        }
      }

      .icon-tfi-twitter {
        width: 4.5rem;
        height: 4.5rem;
        cursor: pointer;
        opacity: 0.6;
        padding-bottom: 0.1rem;

        &:hover {
          opacity: 1.0;
        }
      }
    }

    .copyright-motion {
      font-size: 1.2rem;
      margin-bottom: 4rem;
    }
  }