$linear-gradiant: linear-gradient(120deg, #b64cf8 0%, #3365fa);

.verification-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 144rem;
  width: 100%;

  .left-container {
    display: flex;
  }

  .right-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-width: 35rem;
    max-width: 84rem;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    .verification-text {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 4rem;
    }

    .verification-frame {
      width: 100%;
      max-width: 56rem;
      display: grid;
      // grid-template-columns: 26rem 26rem;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      justify-content: center;
      margin-bottom: 7.6rem;

      .grid-1-3 {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 1.6rem;
        width: 100%;
        padding-top: 4.6rem;
        padding-bottom: 1.3rem;
        outline: none;
        border: none;
        border-bottom: 2px solid #C6BDE2;
      }

      .grid-1 {
        width: 100%;
        font-size: 1.6rem;
        padding-top: 0.6rem;
        padding-bottom: 1.3rem;
        outline: none;
        border: none;
        border-bottom: 2px solid #C6BDE2;
      }
    }

    .sign-up-lower-part {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .button-continue {
        width: 28rem;
        margin-bottom: 6rem;
      }

      .sign-up-progress {
        height: 0.8rem;
        margin-bottom: 6rem;
        display: flex;
        justify-content: space-between;
        width: 5.6rem;

        .progress-cirle-full {
          height: 0.8rem;
          width: 0.8rem;
          background-color: black;
          border-radius: 50%;
        }

        .progress-cirle-empty {
          height: 0.8rem;
          width: 0.8rem;
          border: 2px solid #C6BDE2;
          border-radius: 50%;
        }
      }
    }
  }

  @media screen and (max-width: 800px){
      .left-container {
        display: none;
      }
  }

  @media screen and (max-width: 750px){
      .left-container {
        display: none;
      }

      .right-container {
        .verification-text {
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 0.1rem;
        }

        .verification-frame {
          grid-template-columns: 1fr;
          max-width: 28rem;

          .grid-1-3 {
            grid-column-start: 1;
            grid-column-end: 2;
          }
        }
      }
  }
}